@media(min-width:768px){
    .nav__mobile{
        display: none;
    }
    .nav__logo_small-up{
      padding: .8rem;
    }

    .nav{
        width: 49rem;
    }

    .nav__menu{
        display:flex;
        justify-content: center;
        color: #fff;
        margin-top: -2.5rem;
       
    }

    .nav__menu a{
        color: #fff;
        font-weight: bolder;
        font-size: 1rem;
        

    }

    .nav__home{
      margin-right: 1.5rem;
    }

    
    .nav__rede{
        display: flex;
        justify-content: flex-end;
        margin-top: -2rem;
        margin-right: .4rem;
    }
    .nav__face{
        margin-right: .4rem;
    }

    .nav__insta{
        margin-right: .4rem;
    
    }

    .nav__din{
        margin-right: .4rem;
    
    }
    .nav__twitter{
        margin-right: .4rem;
    
    }

    .header__banner{
        width: 48rem;
        height: 48rem;
    }

    .header__title{
        padding: 12rem;
        padding-top: 
    }

    .btn__btn_first{
        margin-left: 19.3rem;
        margin-top: -5rem;
        padding: 1.5rem;
    }

    .title-purple{
        margin: 0;
        text-align: center;
        width: 45rem;
    }

   .homenagem{
       width: 45rem;
       margin: 5rem;
       
   }

   .mujer01{
    display: flex;   
    flex-grow: 1;
   }

   .mujer02{
    display: flex;   
    flex-grow: 1;
   }

   .mujer03{
    display: flex;   
    flex-grow: 1;
   }
   
   .mujer04{
    display: flex;   
    flex-grow: 1;
   }
   
   .mujer05{
    display: flex;   
    flex-grow: 1;
   }
   
   .mujer06{
    display: flex;   
    flex-grow: 1;
   }
   
   .mujer07{
    display: flex;   
    flex-grow: 1;
   }
   
   .mujer08{
    display: flex;   
    flex-grow: 1;
   }
   
   .mujer09{
    display: flex;   
    flex-grow: 1;
   }
   
   .mujer10{
    display: flex;   
    flex-grow: 1;
   }

   footer{
       height: 19rem;
       width: 48rem;
   }
   
   
  
    .main__nome{
        font-size: 1rem;
        display:flex;
        
     
    }
    
    .main__mulher img{
        display:flex;
        width: 5rem;
        height: 5rem;
        
    }

    .footer{
        width: 39rem;
        display: flex;
        justify-content: space-around;
 
    }
 
    .footer__rede{
        display: none;
    }
 

    .nav2{
        width:55rem;
    }

    .nav__mobile2{
        display: none;
    }
    .nav__logo_small-up2{
      padding: .8rem;
    }

    .nav__menu2{
        display:flex;
        justify-content: center;
        color: #fff;
        margin-top: -2.5rem;
       
    }

    .nav__menu2 a{
        color: #fff;
        font-weight: bolder;
        font-size: 1rem;
        

    }

    .nav__home2{
      margin-right: 1.5rem;
    }

    
    .nav__rede2{
        display: flex;
        justify-content: flex-end;
        margin-top: -2rem;
        margin-right: .4rem;
    }
    .nav__face2{
        margin-right: .4rem;
    }

    .nav__insta2{
        margin-right: .4rem;
    
    }

    .nav__din2{
        margin-right: .4rem;
    
    }
    .nav__twitter2{
        margin-right: .4rem;
    
    }
   
  
    .bell__profile{
        width: 43rem;
        border-radius: 100%;
    }

    .quote{
        width: 47rem;
    }

    .hooks{
        width:54rem;
    }

    .bell{
        width: 48rem;
    }
    .bell__texto1{
        margin: 4rem;
    }

    .bell__texto2{
        margin: 4rem;
    }

    .bell__ilustra{
        width: 45rem;
    }

    .developer{
        width: 55rem;
    }
    .btn__btn_last{
        margin:20rem;
    }



    .footer2{
        width: 55rem;
        height: 9rem;
    }

    





}

@media(min-width:1024px){
    .nav{
        width: 64rem;
    }
  .header__banner{
      width: 64rem;
    }

    .header__title{
        padding: 17rem;
    }

    .btn__btn_first{
        margin-left: 28.3rem;
    }

    .title-purple{
        width: 65rem;
        margin-top: 7rem;
    }

    .homenagem{
        margin: 5rem 13rem;
    }

    footer{
     height: 20rem;
     width:65rem;
    }
    
    .footer__rede{
        display: flex;
    }

   .hooks{
     width: 64.5rem;
    } 
    .nav2{
        width: 64rem;
    } 
    .nav2__logo{
        margin-right: 1rem;
    }  
    
    .bell__profile{
        width:49rem;
        border-radius: 100%;
        margin-top: 5rem;
    }
    
    
    .bell__perfil{
        
         margin: 1rem;
    }
    
   .bell__title1{
       font-size: 3rem;
       width: 46rem;
    }

    .bell__texto1{
        font-size: 2rem;
        width: 48rem;
    }

    .quote{
        width: 56rem;
        font-size: 2rem;
    }

    .bell__ilustra{
        width: 57rem;
    }



    .bell__title2{
        font-size: 3rem;
        width: 45rem;
     }
 
     .bell__texto2{
         font-size: 2rem;
         width: 50rem;
     }
        
     .developer{
         width: 64rem;
     }

     .footer2{
         height: 19rem;
         width: 64rem;

     }

     .btn__btn_last{
         margin:26rem;
     }
    
}

@media(min-width: 1228px){


    .nav{
        width: 76rem;
    
    }

    .header__banner{
        width: 76rem;

    }

    .btn__btn_first{
        margin-left: 35.3rem;
    }

    .title-purple{
        width: 77rem;
    }

    .homenagem{
        margin: 7rem 20rem;
    }

    footer{
        height: 8rem;
        width: 76rem;
    }
    
    .mujer01{
        display: flex;   
        flex-grow: 1;
       }
    
       .mujer02{
        display: flex;   
        flex-grow: 1;
       }
    
       .mujer03{
        display: flex;   
        flex-grow: 1;
       }
       
       .mujer04{
        display: flex;   
        flex-grow: 1;
       }
       
       .mujer05{
        display: flex;   
        flex-grow: 1;
       }
       
       .mujer06{
        display: flex;   
        flex-grow: 1;
       }
       
       .mujer07{
        display: flex;   
        flex-grow: 1;
       }
       
       .mujer08{
        display: flex;   
        flex-grow: 1;
       }
       
       .mujer09{
        display: flex;   
        flex-grow: 1;
       }
       
       .mujer10{
        display: flex;   
        flex-grow: 1;
       }

        .nav2{
           width: 84rem;
           
       }

       .hooks{
           width: 84rem;
       }

       .bell__perfil{
           display: flex;
           flex-direction: row;
       }

       .bell__profile{
           width: 60%;
           height: 60%;
       }

       .bell__title1{
           width: 28rem;
       }

       .bell__texto1{
           width: 25rem;
       }

       .bell__texto2{
           width:68rem;
       }

       .bell__title2{
           width: 66rem;
       }

       .bell__ilustra{
           width: 76rem;
       }

       .developer{
           width: 84rem;
       }

       .btn__btn_last{
           margin: 36rem;
       }
       .quote{
           width: 77rem;
       }
       .footer2{
           width: 84rem;
           height: 11rem;
       }

    }

