*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}

body{
    font-size: 10px;
    font-family: "montserrat" , sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav2{
    background-color:#674582;
    height: 3rem;
    width: 58.5rem;
    position: fixed;
}

.nav__menu2{
    display: none;
}

.nav__rede2{
    display: none;
}
 
.nav__logo_big-up2{
  display: none
}
 
   
.nav__mobile2{
     display: flex;
     justify-content: flex-end;
     margin-top: -1.5rem;
     margin-right: 1rem;
}

.nav{
    background-color:#674582;
    height: 3rem;
    width: 29rem;
    position: fixed;
}

.nav__menu{
    display: none;
}

.nav__rede{
    display: none;
}
 
.nav__logo_big-up{
  display: none
}
 
   
.nav__mobile{
     display: flex;
     justify-content: flex-end;
     margin-top: -1.5rem;
     margin-right: 1rem;
}


 

.header__banner{
     background: url("../img/banner.png");
     height: 20rem;
     background-size: cover;
     width: 28.7rem;
     margin-left: 0;
}

.header__title{
    color: white;
     text-align: center;
     padding: 2rem;
     padding-top: 6rem;
}

.header__title h1{
 font-size: 1.5rem;
}

 .header__title p{
     font-size: 1.1rem;
 }
 .btn__btn_first{
    border: 5px #C083B9;
   border-radius: 5px;
   background-color: #C083B9;
   padding: .7rem;
   margin: 9.3rem;
   color: white;
   text-transform: uppercase;
   font-weight: bolder;
}


 .title-purple{
     color: #63458A;
     font-family: "roboto slab" , sans-serif;
     font-size: 1rem;
     margin-top: 1rem;
     text-align: center;
}



.homenagem img{
    width: 70%;
    height: 70%;
    margin: 2rem;
    background-color: #63458A;
    border-radius: 1rem;
    
}

.homenagem{
    margin: 1rem;
}


.main__nome{
     font-weight: bolder;
     font-size: 1.6rem;
     margin: 1rem;
    

}

.hooks{
    background: url("../img/bellhooks-2.jpg");
    background-size: cover;
    height: 30rem;
    width:58.5rem;
    
   
}

.hooks__title_uppercase{
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5rem;
   padding: 6rem;
}

.bell{
    padding-top: 3rem;
    color:#000000;
    width: 100%;
}

.bell__profile{
    border-radius: 100%;
    margin: 6rem;
}

.bell__title1{
     color: #63458A;
     font-family: "roboto slab" , sans-serif;
     font-size: 3rem;
     
     width: 40rem;

     text-align: center;
     margin-top: 2rem;
     margin-left: 4rem;
}

.bell__texto1 {
font-size: 2.5rem;
color: #000000;
width: 40rem;
text-align: center;
margin: 4rem;

}

.bell__title2{
    color: #63458A;
    font-family: "roboto slab" , sans-serif;
    font-size: 3rem;
    
    width: 40rem;
    
    text-align: center;
    margin-top: 2rem;
    margin-left: 4rem;
}

.bell__texto2 {
font-size: 2.5rem;
color: #000000;
width: 40rem;
text-align: center;
margin: 4rem;

}

.bell__ilustra{
    width: 50rem;
}

.quote{
   border: 1px solid #63458A;
    padding: 2rem;
    font-size: 3rem;
    color: #63458A;
    margin: 1rem;
    text-align: center;
    width: 52rem;
    margin: 4rem;
    
}
    
.developer{
    background-color: #E4B7E5;
    margin: 5rem 0;
    display: flex;
    width: 58rem;
}

.developer__natasha{
    font-size: 3rem;
    color: #674582;
    vertical-align: middle;
    
   
}


.developer img{
    width: 35%;
    height: 35%;
    display: flex;
   
}

.btn__btn_last{
   border: 5px #C083B9;
   border-radius: 5px;
   background-color: #C083B9;
   padding: 2rem;
   margin-left:11.1rem;
   color: #fff;
   text-transform: uppercase;
   font-weight: bolder;
   text-align: center;
   font-size: 1rem;
}


footer{
     background-color:#323534;
     margin-top:5rem;
     margin-bottom: 0;
     width: 29rem;
     
 
}

.footer__logo_big-down{
    display: none;
}
 
 
.footer__logo_small-down{
  padding: 1rem;
  

}

.footer__link_down a{
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
    vertical-align: middle;
}

.footer__facebook{
    display: none;
}

.footer__rede{
    display: flex;
   justify-content: space-around;
}



.footer2{
    background-color:#323534;
    margin-top:5rem;
    margin-bottom: 0;
    width: 58.5rem;
    height: 10rem;
    

}

.footer__logo_big-down2{
   display: none;
}


.footer__logo_small-down2{
 padding: 1rem;
 width:50;
 height:50% ;
 margin-bottom: 1rem;
 

}

.footer__link_down2 a{
   color: #fff;
   font-size: 1rem;
   font-weight: bolder;
   vertical-align: middle;
}

.footer__facebook2{
   display: none;
}

.footer__rede2{
   display: flex;
  justify-content: space-around;
}



